@model IEnumerable<WebApplication.Controllers.ConexionDTO.Perfi>

@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="well well-lg">
        <a class="btn btn-outline-primary" id="BtnNuevo" data-toggle="modal" href="#myModal"><i class="fas fa-plus"></i> Nuevo</a>
    </div>

    <p>
        @*@Html.ActionLink("Nuevo", "Create")*@
    </p>

    <table id="tabla" class="table table-bordered table-hover">

        <thead class="text-center">
            <tr>
                <th>IdPerfil</th>
                <th>Perfil</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPerfil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Perfil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>

                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.id_perfil }) |*@
                        <button id="BtnEditar" class="btn btn-outline-info"><i class="fas fa-edit"></i></button>
                        @*@Html.ActionLink("Details", "Details", new { id = item.id_perfil })*@ |
                        <button id="BtnEliminar" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.id_perfil })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{

    <script src="~/JQuery/TablaIdioma.js"></script>
}