@model IEnumerable<WebApplication.Controllers.ConexionDTO.Perfi>

@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" id="header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div id="modal-content">
                    cargando..
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btnGuardar" class="btn btn-outline-success">Guardar</button>
            </div>

        </div>
    </div>
</div>

<div class="well well-lg">
    <a class="btn btn-outline-primary" id="btnNuevo" data-toggle="modal" href="#myModal"><i class="fas fa-user-plus"></i></a>
</div>

<p>
    @*@Html.ActionLink("Nuevo", "Create")*@
</p>

<div class="container">

   <table id="tabla" class="table table-bordered table-hover">

        <thead class="text-center">
            <tr>
                <th>IdPerfil</th>
                <th>Perfil</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPerfil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Perfil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>

                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.id_perfil }) |*@
                        <button id="BtnEditar" class="btn btn-outline-info"><i class="fas fa-edit"></i></button>
                        @*@Html.ActionLink("Details", "Details", new { id = item.id_perfil })*@ |
                        <button id="BtnEliminar" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.id_perfil })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{

    <script src="~/JQuery/TablaIdioma.js"></script>
    <script src="~/JQuery/Perfiles.js"></script>
}