
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../VendorLogin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/VendorLogin/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/VendorLogin/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/VendorLogin/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/VendorLogin/animate/animate.css">
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/VendorLogin/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/VendorLogin/select2/select2.min.css">
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/VendorLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/VendorLogin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form method="post" class="login100-form validate-form">
                    <span class="login100-form-title p-b-34">
                        INGRESO AL SISTEMA HRV
                    </span>

                    @*<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
                    <input id="first-name" class="input100" type="text" name="user" placeholder="Usuario">
                     <span class="focus-input100"></span>
                     </div>
                     <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">

                      <input class="input100" type="password" name="pass" placeholder="Contraseña">
                      <span class="focus-input100"></span>
                      </div>*@
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="email" type="text" class="form-control" name="user" placeholder="Usuario">
                </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                        <input id="password" type="password" class="form-control" name="pass" placeholder="Contraseña">
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Iniciar Sesion
                        </button>
                    </div>

                </form>

                <div class="login100-more" style="background-image: url('../VendorLogin/images/bg-01.jpg');"></div>
            </div>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/VendorLogin/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/VendorLogin/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/VendorLogin/bootstrap/js/popper.js"></script>
    <script src="~/VendorLogin/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    @*<script src="~/VendorLogin/select2/select2.min.js"></script>*@
    @*<script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>*@
    <!--===============================================================================================-->
    @*<script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>*@
    <!--===============================================================================================-->
    @*<script src="vendor/countdowntime/countdowntime.js"></script>*@
    <!--===============================================================================================-->
    <script src="~/VendorLogin/js/main.js"></script>

</body>
</html>