@model IEnumerable<WebApplication.Controllers.ConexionDTO.User>

@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @*<link rel="stylesheet" href="~/VendorMenu/datatables-bs4/css/dataTables.bootstrap4.min.css">*@

}

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" id="header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div id="modal-content">
                    cargando..
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-dark">Guardar</button>
            </div>

        </div>
    </div>
</div>

<div class="container">

    <div class="well well-lg">
        <a class="btn btn-outline-primary" id="BtnNuevo" data-toggle="modal" href="#myModal"><i class="fas fa-plus"></i> Nuevo</a>
    </div>

    <p>
            @*@Html.ActionLink("Nuevo", "Create", null, htmlAttributes: new { @class = "btn btn-outline-primary" })*@
    </p>

    <table id="tabla" class="table table-bordered table-hover">
        <thead class="text-center">
            <tr>
                <th>IdUsuario</th>
                <th>Usuario</th>
                <th>Estado</th>
                <th>Perfil</th>
                <th>Opciones</th>
            </tr>

        </thead>

        <tbody class="text-center">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                 
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Perfil)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.login_usuario }) |*@
                        <button id="BtnEditar" class="btn btn-outline-info"><i class="fas fa-edit"></i></button>

                        @*@Html.ActionLink("Details", "Details", new { id = item.login_usuario })*@ |
                        <button id="BtnEliminar" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>

                        @*@Html.ActionLink("Delete", "Delete", new { id = item.login_usuario })*@
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

@section scripts{

    <script src="~/JQuery/TablaIdioma.js"></script>
}